@use './colors';

.content-block {
    background-color: rgba(245, 245, 245, 0.5);
    margin-bottom: 50px;
}

.text-container {
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 85px;
    display: inline-block;
    vertical-align: top;
}

.subtitle {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: colors.$commonTextColor;
}

.title {
    width: 530px;
    font-size: 67px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
    font-weight: 900;
    color: colors.$commonTextColor;

    span {
        background: none;
        color: colors.$borderColorGreen;
    }
}


.desc {
    color: colors.$commonSubtitleColor;
    font-size: 14px;
    margin: 5px 0 40px;
    line-height: 24px;
    width: 555px;
    font-weight: 400;
}

.button-shop-now {
    display: block;
    width: 140px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: colors.$borderColorGreen;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;

    &:hover {
        background-color: colors.$hoverColorDarkGreen;
    }
}

.img-big-plant {
    margin-left: 90px;
    margin-top: 12px;
}

.loader {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    &_dot {
        width: 10px;
        height: 10px;
        background-color: colors.$commonGreenColor;
        border-radius: 5px;
        animation-name: move, color, opacity;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-10px);
    }

    66% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes color {
    from {
        background-color: colors.$commonGreenColor;
    }

    to {
        background-color: colors.$backgroundColorWhite;
    }
    
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
    
    to {
        opacity: 1;
    }
}

@for $i from 1 through 5 {
    .loader_dot:nth-child(#{$i}) {
        animation-delay: $i * 0.2 + s;
    }
}